@import url("https://fonts.googleapis.com/css?family=Montserrat");

.App,
html,
body {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: rgb(252, 251, 247);
  font-family: "Montserrat";
}
